body {
    background-color: #263238;        			
    margin: 0px;
}
.body-container{    
    position: absolute;    
    width: 100%;         
}
.scraptcha-spacer-4{    
    margin: 4px;
    height: 1px;
}
.scraptcha-spacer-6{    
    margin: 6px;
    height: 1px;
}
.scraptcha-spacer-7{    
    margin: 7px;
    height: 1px;
}
.scraptcha-container{    
    display: inline-block;
    margin: auto;        
    position: relative;
    visibility: hidden;
}
.scraptcha-code-table{    
    display: table;      
    position: relative;
}
.scraptch-code-row{    
    display: table-row;    
}
.scraptcha-code-cell{    
    display: table-cell;        
}
#scraptchaForm {	
    margin-right: 20px;
}
#scraptchaForm input[type="text"]{    
	width:99%;
	border:1px solid #CCC;
	background:#FFF;
	margin: 1px;
	padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;    
}
#scraptchaForm button[type="button"] {
	cursor:pointer;
	width:400px;	
    border: 1px solid #ef4438;
	background-color:rgba(31, 41, 46, 0.8);
	color:#ef4438;    
	padding:10px;
	font-size:15px;        
}
#scraptchaForm button[type="button"]:hover {
	background-color:rgba(31, 41, 46, 0.0);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#scraptchaForm button[type="button"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
.scraptcha-reply{
    font-family: Arial, Helvetica, sans-serif;
    color:#ef4438;
}
.scraptcha-form-container {
    border: 1px solid white;
    background-color: rgba(55, 71, 79, 0.5);
	max-width:400px;
	width:100%;
    margin: 20px auto;
    padding: 14px;	
    text-align: center;
	position:relative;
    z-index: 5;
}
.scraptcha-submit-reply{
    border: 1px dashed #5aaf46;
    font-family: Arial, Helvetica, sans-serif;    
    color: #5aaf46;
    width: 100%;
    height: 45px;
    left: 10px;    
    padding-top: 24px;    
    text-align: center;
    position: relative;
}